<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1774463404204</Id>
		<Name><![CDATA[endOfDay]]></Name>
		<Description><![CDATA[Events that fire at midnight]]></Description>
		<X>760</X>
		<Y>60</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_MINUTE</Unit>
			</Rate>
			<Id>1774463404202</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1774512000000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">DAY</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">DAY</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
